/* 
font-family: 'Nunito', sans-serif;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url("./assets/pexels-photo-755726.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #333;
}
